# 組み込み関数

## 連続する整数を作成 | range関数

## 複数のリストの要素をまとめて取得 | zip関数

In [2]:
products = ['apple', 'orange', 'grape']
prices = [100, 200, 300]

for i in zip(products, prices):
    print(i)

('apple', 100)
('orange', 200)
('grape', 300)

In [4]:
products = ['apple', 'orange', 'grape', 'banana']
prices = [100, 200, 300]
numbers = [1, 2, 3]
for item in zip(products, prices, numbers):
    print(item)

('apple', 100, 1)
('orange', 200, 2)
('grape', 300, 3)

In [5]:
products = ['apple', 'orange', 'grape']
products = ['apple', 'orange', 'grape']
numbers = [1, 2, 3]
list(zip(products, prices, numbers))

[('apple', 100, 1), ('orange', 200, 2), ('grape', 300, 3)]

## オブジェクトの要素数や長さを取得 | len関数

In [8]:
l = [10, 15, 20, 25, 30]
len(l)

5

In [9]:
d = {'apple': 150, 'banan': 230, 'peach': 280}
len(d)

3

In [11]:
str = 'cool language python'
len(str)

20

In [15]:
import pandas as pd
df = pd.DataFrame({'col01': ['A', 'C', 'A', 'C', 'A'],
                   'col02': ['a', 'a', 'c', 'c', 'a'],
                   'col03': [600, 800, 100, 120, 180]})
# データフレームの行数を取得
len(df)

5

In [16]:
ser = pd.Series(['a','b','c','d','e'])
# シリーズの行数取得
len(ser)

5

## オブジェクトのidを取得| id関数

In [17]:
id(5)

140431456393248

In [18]:
num = 2 + 3
id(num)

140431456393248

In [20]:
num = 5
print(id(num))
num = 25
print(id(num))

140431456393248
140431456393888

In [23]:
l = [12, 29, 34]
print(id(l))
t = (12, 29, 34)
print(id(t))

140429973157200
140431076724240

## 辞書やリストの各要素を見やすく表示 | pprint.pprint関数

In [28]:
import pprint
l = [{'name': 'A', 'age': 28, 'state':'NY'},
     {'name': 'B', 'age': 32, 'state': 'NJ'},
     {'name': 'C', 'age': 25, 'state': 'MA'}]

In [31]:
pprint.pprint(l)

[{'age': 28, 'name': 'A', 'state': 'NY'},
 {'age': 32, 'name': 'B', 'state': 'NJ'},
 {'age': 25, 'name': 'C', 'state': 'MA'}]

In [32]:
l = [{'name': 'A', 'age': 28, 'state':'NY'},
     {'name': 'B', 'age': 32, 'state': 'NJ'},
     {'name': 'C', 'age': 25, 'state': 'MA'}]

In [33]:
pprint.pprint(l, width=10)

[{'age': 28,
  'name': 'A',
  'state': 'NY'},
 {'age': 32,
  'name': 'B',
  'state': 'NJ'},
 {'age': 25,
  'name': 'C',
  'state': 'MA'}]

In [34]:
l = [{'name': 'A', 'age': 28, 'state':'NY'}, 
     {'name': 'B', 'age': 32, 'state': 'NJ'},
     {'name': 'C', 'age': 25, 'state': 'MA'}]

In [35]:
pprint.pprint(l, indent=3, width=10)

[  {  'age': 28,
      'name': 'A',
      'state': 'NY'},
   {  'age': 32,
      'name': 'B',
      'state': 'NJ'},
   {  'age': 25,
      'name': 'C',
      'state': 'MA'}]

In [40]:
# 改行せずに表示 print関数
for i in range(1, 30):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,

## 変数のデータ型を取得｜type関数

In [46]:
type(1)

int

In [47]:
type(0.1)

float

In [51]:
import pandas as pd
df = pd.DataFrame({1, 2, 3})
print(df)
type(df)

   0
0  1
1  2
2  3

pandas.core.frame.DataFrame

In [52]:
import numpy as np
num = np.array([[1], [2], [3]])
print(num)
type(num)

[[1]
 [2]
 [3]]

numpy.ndarray

In [57]:
import datetime
dt = datetime.date.today()
str = '2021-07-09'
print(dt)
type(dt)

2023-06-05

datetime.date

In [58]:
print(str)
type(str)

2021-07-09

str

## データをリストやタプルに変換｜list,tuple関数

In [64]:
a = (12, 25, 32, 48, 55)
print(a)
type(a)

(12, 25, 32, 48, 55)

tuple

In [81]:
a1 = list(a)
a1

[(12, 25, 32, 48, 55)]

In [78]:
type(a1)

list

In [82]:
b = [12, 25, 32, 48, 55]
b

[12, 25, 32, 48, 55]

In [83]:
type(b)

list

In [88]:
b1 = tuple(b)
b1

(12, 25, 32, 48, 55)

In [89]:
type(b1)

tuple

## 重複しない要素の集まり（集合）を作成｜set関数

In [3]:
# リストから集合を作成　重複するものは一意になる
l = [50, 30, 20, 10, 40, 50, 30]
set(l)

{10, 20, 30, 40, 50}

In [4]:
set('apple-peach')

{'-', 'a', 'c', 'e', 'h', 'l', 'p'}

In [5]:
 # 辞書の集合 キーd集合が生成される
d = {'apple':180, 'banana':250, 'peach':210, 'apple':250}

In [6]:
set(d)

{'apple', 'banana', 'peach'}

In [7]:
s = set()
type(s)

set

In [8]:
s = {}
type(s)

dict

In [14]:
# 波括弧の中に要素を書くことでも、集合を作成できる。
{'apple', 'banana', 'peach', 'apple'}

{'apple', 'banana', 'peach'}

In [15]:
s = set()
type(s)

set

問題
波括弧を使用して、下記それぞれ文字列の集合を作成し、2つの集合の和集合を求める。
ポイント
・和集合を求めるには、「|」演算子を使用。

完成イメージ

{'apple', 'banana', 'orange', 'peach'}

In [17]:
# 使用データ
# 集合s1
# 'apple', 'banana', 'peach', 'apple'
# 集合s2
# 'apple', 'orange'
s1 = {'apple', 'banana', 'peach', 'apple'}
s2 = {'apple', 'orange'}
s1 | s2

{'apple', 'banana', 'orange', 'peach'}

## 辞書型データを作成｜dict関数

In [20]:
dict(apple=150, banana=230, peach=320)

{'apple': 150, 'banana': 230, 'peach': 320}

In [21]:
# タプルを辞書に変換
dict((['apple', 150], ['banana', 230], ['peach', 320]))

{'apple': 150, 'banana': 230, 'peach': 320}

In [22]:
# タプルを指定して辞書に変換
dict((('apple', 150), ('banana', 230), ('peach', 320)))

{'apple': 150, 'banana': 230, 'peach': 320}

In [23]:
dict(['a1', 'b2', 'c3'])

{'a': '1', 'b': '2', 'c': '3'}

In [25]:
# 二つのリストから辞書を作成
key = ['apple', 'banana', 'peach']
value = [150, 230, 320]
dict(zip(key, value))

{'apple': 150, 'banana': 230, 'peach': 320}

In [27]:
# dict関数を使わずに辞書を作成
d = {'apple':150, 'banana':230, 'peach':320}
d

{'apple': 150, 'banana': 230, 'peach': 320}

## リストの並び替え｜sortメソッド

In [1]:
data = [3,4,1,2,5,7,8,9,6]
data.sort()
data

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
data.sort(reverse=True)
data

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
data = ['い', 'う', 'あ']
data.sort()
data

['あ', 'い', 'う']

## リストなどの並び替え｜sorted関数

In [9]:
new_list = [3,4,1,2,5,7,8,9,6]
sorted(new_list) # 元のリストはそのまま

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(new_list)

[3, 4, 1, 2, 5, 7, 8, 9, 6]

In [12]:
# sortの場合はlistの中が変わる
new_list.sort()

In [13]:
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
new_list = [3,4,1,2,5,7,8,9,6]
sorted(new_list, reverse=True) # defalutではfalse つまり昇順

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## リストの場所を指定して要素を追加｜insertメソッド

In [27]:
list = [10, 20, 30, 40]
list.insert(0, 50)
list

[50, 10, 20, 30, 40]

In [36]:
l = ['apple', 'banana', 'peach']
l.insert(2, 'orange')
l

['apple', 'banana', 'orange', 'peach']

In [37]:
l.insert(-1, 'cherry') # 末尾から二番目の要素
l

['apple', 'banana', 'orange', 'cherry', 'peach']

In [38]:
l.append('grape') # 末尾に要素追加
l

['apple', 'banana', 'orange', 'cherry', 'peach', 'grape']

In [39]:
l.extend((1,2,3)) # 末尾にタプル全要素を追加
l

['apple', 'banana', 'orange', 'cherry', 'peach', 'grape', 1, 2, 3]

## リストの末尾に要素を追加｜appendメソッド

In [41]:
l = [10, 15, 20, 25, 30]
l.append(70)
l

[10, 15, 20, 25, 30, 70]

In [44]:
l = ['apple', 'banana', 'peach']
l.append('orange')
l

['apple', 'banana', 'peach', 'orange']

In [49]:
l = [1, 2, 3]
l.insert(2, 2.5)
l

[1, 2, 2.5, 3]

In [51]:
l = [1, 2, 3]
l.extend([4, 5, 6])
l

[1, 2, 3, 4, 5, 6]

## リストの指定した要素を削除｜removeメソッド

In [64]:
l = ['apple', 'banana', 'peach']
l.remove('apple')
l

['banana', 'peach']

In [65]:
l = ['apple', 'banana', 'apple', 'peach']
l

['apple', 'banana', 'apple', 'peach']

In [66]:
l.remove('apple') # 最初の要素だけ削除される
l

['banana', 'apple', 'peach']

In [75]:
l = [10, 20, 30, 40, 50]
l.pop(1) # 引数は削除したい要素のindex 指定しない=引数なしは末尾が削除される

20

In [76]:
del l[3] # 削除したい要素のindex
l

[10, 30, 40]

In [78]:
l.clear() # リストの中のすべての要素を削除
l

[]

## リストの全要素を削除｜clearメソッド

In [81]:
l = ['apple', 'banana', 'peach']
l.clear()
l

[]

In [84]:
d = {'apple': 150, 'banana': 220, 'peach': 190}
d.clear()
d

{}

In [87]:
l = [10, 20, 30, 40, 50]
l.remove(20)
l

[10, 30, 40, 50]

In [89]:
l = [10, 20, 30, 40, 50]
l.pop(2)

30

In [91]:
l = [10, 20, 30, 40, 50]
del l[2]
l

[10, 20, 40, 50]

## 辞書のキーを取得｜keysメソッド

In [104]:
d = {'1': 'pandas', '2': 'matplotlib', '3': 'AI'}
d.keys()

dict_keys(['1', '2', '3'])

In [29]:
list(d.keys())

['1', '2', '3']

In [107]:
d.values()

dict_values(['pandas', 'matplotlib', 'AI'])

In [108]:
d.get('1')

'pandas'

In [109]:
d.items() # キーと値の両方取得

dict_items([('1', 'pandas'), ('2', 'matplotlib'), ('3', 'AI')])

## 辞書のデータから値を取得｜valuesメソッド

In [113]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.values()

dict_values(['fruits', 'vegetable', 'meat'])

In [116]:
for v in d.values(): 
    print(v) # 辞書の値を表示

fruits
vegetable
meat

In [117]:
d.keys()

dict_keys(['apple', 'potato', 'chicken'])

In [120]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.get('apple')

'fruits'

In [121]:
d.items()

dict_items([('apple', 'fruits'), ('potato', 'vegetable'), ('chicken', 'meat')])

## 辞書型のデータのキーと値を取得｜itemsメソッド

In [123]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.items()

dict_items([('apple', 'fruits'), ('potato', 'vegetable'), ('chicken', 'meat')])

In [127]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
for i in d.items(): 
    print(i) # 辞書からキーと値を一つずつ取り出す

('apple', 'fruits')
('potato', 'vegetable')
('chicken', 'meat')

In [130]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
for k, v in d.items(): 
    print('name', k)
    print('category:', v)
    print('-------------------')

name apple
category: fruits
-------------------
name potato
category: vegetable
-------------------
name chicken
category: meat
-------------------

In [132]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.values()

dict_values(['fruits', 'vegetable', 'meat'])

In [133]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.keys()

dict_keys(['apple', 'potato', 'chicken'])

In [134]:
d = {'apple': 'fruits', 'potato': 'vegetable', 'chicken': 'meat'}
d.get('apple')

'fruits'

## 辞書のデータに要素を追加｜setdefaultメソッド

In [135]:
d = {'apple': 100, 'banana': 150, 'peach': 230}

In [138]:
d.setdefault('cherry', 210)
d

{'apple': 100, 'banana': 150, 'peach': 230, 'cherry': 210}

In [139]:
d.setdefault('blueberry')
d

{'apple': 100, 'banana': 150, 'peach': 230, 'cherry': 210, 'blueberry': None}

In [144]:
d = {'apple': 100, 'banana': 150, 'peach': 230, 'cherry': 210}
d['peach'] = 500
d

{'apple': 100, 'banana': 150, 'peach': 500, 'cherry': 210}

## データを整数に変換｜int関数

In [145]:
a = '123'

In [146]:
type(a)

str

In [148]:
a1 = int(a)
type(a)

str

In [150]:
b = 3.14
type(b)

float

In [153]:
b1 = int(b)
type(b1)

int

In [155]:
b1

3

In [156]:
float(b1)

3.0

## データを小数に変換｜float関数

In [157]:
a = 123

In [158]:
type(a)

int

In [164]:
a1 = float(a)
print(a1)

123.0

In [165]:
type(a1)

float

In [168]:
b = '3.14'
b1= float(b)
print(b1)
type(b1)

3.14

float

In [170]:
b1 = 3.14
b = int(b1)
print(b)

3

## オブジェクトの合計値を算出｜sum関数

In [171]:
l = [1,2,3,4,5]
sum(l)

15

In [172]:
t = (1,2,3,4,5)
sum(t)

15

In [174]:
d = {1:100, 2:200, 3:300}
sum(d) # キーの合計が算出される

6

In [176]:
 sum(d.values()) # 値の合計算出

600

In [177]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
df.sum()

col1     6
col2    15
dtype: int64

In [180]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
df.sum(axis=1) # 行ごとの計算

0    5
1    7
2    9
dtype: int64

In [182]:
import pandas as pd
ser = pd.Series([1, 2, 3])
ser.sum() # シリーズの合計

6

## 数字や文字列の最大値を取得｜max関数

In [185]:
max([10, 42, 59, 31, 22])

59

In [186]:
max('pYthon')

't'

In [187]:
max('pyTHON', 'PYthon')

'pyTHON'

In [188]:
d = {'apple': 150, 'banana': 230, 'peach': 360}
max(d)

'peach'

In [190]:
max(d.values())

360

## 数字や文字列の最小値を取得｜min関数

In [191]:
min([10, 42, 59, 31, 22])

10

In [192]:
min('PythoN')

'N'

In [193]:
min('pyTHON', 'PYthon')

'PYthon'

In [195]:
d = {'apple': 150, 'banana': 230, 'peach': 360}
min(d)

'apple'

In [196]:
d = {'apple': 150, 'banana': 230, 'peach': 360}
min(d.values())

150

## 数字の端数を四捨五入｜round関数

In [199]:
import math
f = math.pi
round(f)

3

In [200]:
import math
f = math.pi
round(f,2)

3.14

In [206]:
import math
f = math.pi
round(f, -1)

0.0

## 絶対値を取得｜abs関数

In [30]:
abs(10)

10

In [31]:
abs(-10)

10

In [32]:
abs(-10.5)

10.5