# Python入門・応用

## 変数

In [2]:
num = 1
print(num)

1

In [3]:
a = 10.5
b = 500
print(a, b)

10.5 500

In [4]:
a = 'Python'
a += 'を勉強しています'
print(a)

Pythonを勉強しています

In [5]:
num = 10
print(num * 10)

100

In [7]:
num_1 = 8
num_2 = 3
print(f'毎日{num_1}時間働き、{num_2}時間勉強しています')

毎日8時間働き、3時間勉強しています

In [8]:
num_1 = 1.7
num_2 = 65
print(f'身長：{num_1}')
print(f'体重：{num_2}kg')
print(f'BMI：{num_2 / (num_1 * num_1)}')

身長：1.7
体重：65kg
BMI：22.49134948096886

In [11]:
# 予約語
import keyword

print(keyword.kwlist) # 予約語の一覧
print(len(keyword.kwlist)) # 予約語の個数

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [12]:
# 予約語かどうか調べる iskeyword
print(keyword.iskeyword('return'))
print(keyword.iskeyword('Return'))

True
False

In [14]:
# 変数のIDを調べる
a = 10
print(id(a))
b = a
print(id(b))
a = 20
print(id(a))

1638514033168
1638514033168
1638514033488

## データ型

In [15]:
num01 = 123
num02 = 1.23
print(type(num01))
print(type(num02))

<class 'int'>
<class 'float'>

In [19]:
num01 = 6 / 3
num02 = 2 * 0.5
print(f'num01：{type(num01)}')
print(f'num02：{type(num02)}')

num01：<class 'float'>
num02：<class 'float'>

In [20]:
greeting = 'Hello, World!'
print(type(greeting))

<class 'str'>

In [21]:
num = '1000'
print(type(num))

<class 'str'>

In [22]:
num = '45'
print(f'あなたの受付番号は{num}です')

あなたの受付番号は45です

In [23]:
s = 'リンゴ'
print(f'あなたの好きなものは{s}です')

あなたの好きなものはリンゴです

In [24]:
a = 10
b = 1
print(a > b)
print(type(a > b))

True
<class 'bool'>

In [25]:
a = 'Python'
b = 'SQL'
bool = a == b
print(bool)
print(type(bool))

False
<class 'bool'>

In [27]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [29]:
b = (1, 2, 3)
print(type(b))

<class 'tuple'>

In [183]:
d = {'a':1, 'b':2, 'c':3, 'd':'dic'}
print(type(d))

<class 'dict'>

In [32]:
s1 = {1, 2, 3}
s2 = {1, 2, 3, 1, 2, 3}
print(s1)
print(s2)
print(type(s1))
print(type(s2))

{1, 2, 3}
{1, 2, 3}
<class 'set'>
<class 'set'>

In [35]:
a = (1, 2, 3, 'tuple')
b = list(a)
print(a)
print(type(a))
print(b)
print(type(b))

(1, 2, 3, 'tuple')
<class 'tuple'>
[1, 2, 3, 'tuple']
<class 'list'>

In [36]:
a = '1234'
b = int(a)
print(a)
print(type(a))
print(b)
print(type(b))

1234
<class 'str'>
1234
<class 'int'>

In [37]:
a = 123
b = '123'
c = a + 456
d = b + '456'
print(c)
print(type(c))
print(d)
print(type(d))

579
<class 'int'>
123456
<class 'str'>

## リスト

In [43]:
a = ['sato', 'suzuki', 'takahashi']
print(a)

['sato', 'suzuki', 'takahashi']

In [44]:
# index指定
a = ['sato', 'suzuki', 'takahashi']
print(a[0])
print(a[1])
print(a[2])

sato
suzuki
takahashi

In [45]:
# リスト内の'suzuki'を'tanaka'に変更
a = ['sato', 'suzuki', 'takahashi']
a[1] = 'tanaka'
print(a[0])
print(a[1])
print(a[2])

sato
tanaka
takahashi

In [47]:
a = ['sato', 'suzuki', 'takahashi']
print(a[-1])
print(a[-2])

takahashi
suzuki

In [50]:
a = [0, 1, 2, 3, 4, 5]
print(a[1:4])

[1, 2, 3]

In [51]:
a = [0, 1, 2, 3, 4, 5]
print(a[2:])

[2, 3, 4, 5]

In [55]:
a = [0, 1, 2, 3, 4, 5]
print(a[:2])

[0, 1]

In [63]:
a = [0, 1, 2, 3, 4, 5]
print(a[::2])

[0, 2, 4]

In [66]:
a = [0, 1, 2, 3, 4, 5]
print(a[::-3])

[5, 2]

In [71]:
a = [['sato', 'suzuki'], ['takahashi', 'tanaka']]
print(a[0][0])
print(a[0][1])
print(a[1][0])
print(a[1][1])

sato
suzuki
takahashi
tanaka

In [73]:
a = ['sato', 'suzuki', 'takahashi']
a += ['tanaka', 'sato']
print(a)

['sato', 'suzuki', 'takahashi', 'tanaka', 'sato']

In [79]:
a = ['sato','suzuki','takahashi']
print(a * 2)

['sato', 'suzuki', 'takahashi', 'sato', 'suzuki', 'takahashi']

In [81]:
a = ['sato', 'suzuki', 'takahashi']
a.append('tanaka')
print(a)

['sato', 'suzuki', 'takahashi', 'tanaka']

In [84]:
a = ['sato', 'suzuki', 'takahashi']
a.append(['tanaka', 'sasaki'])
print(a)

['sato', 'suzuki', 'takahashi', ['tanaka', 'sasaki']]

In [86]:
a = ['sato', 'suzuki', 'takahashi']
a.extend(['tanaka', 'sasaki'])
print(a)

['sato', 'suzuki', 'takahashi', 'tanaka', 'sasaki']

In [87]:
a = ['sato', 'suzuki', 'takahashi']
a.extend('tanaka')
print(a)

['sato', 'suzuki', 'takahashi', 't', 'a', 'n', 'a', 'k', 'a']

In [91]:
a = ['sato', 'suzuki', 'takahashi']
a.insert(0,'tanaka')
print(a)

['tanaka', 'sato', 'suzuki', 'takahashi']

In [96]:
a = ['sato', 'suzuki', 'takahashi']
del a[1]
a

['sato', 'takahashi']

In [102]:
a = ['sato', 'suzuki', 'takahashi']
a1 = a.pop(1)
print(a1)
print(a)

suzuki
['sato', 'takahashi']

In [107]:
a = ['sato', 'suzuki', 'takahashi']
a.remove('suzuki')
print(a)

['sato', 'takahashi']

In [108]:
a = ['sato', 'suzuki', 'takahashi', 'suzuki']
a.remove('suzuki')
print(a)

['sato', 'takahashi', 'suzuki']

In [110]:
a = ['sato', 'suzuki', 'takahashi']
a.clear()
print(a)

[]

In [112]:
a = ['sato', 'suzuki', 'takahashi']
print('sato' in a)
print('tanaka' in a)

True
False

In [114]:
a = ['sato', 'suzuki', 'takahashi', 'sato']
print(a.count('sato'))

2

In [116]:
a = ['sato', 'suzuki', 'takahashi']
print(a.index('sato'))

0

In [122]:
a = [9, 5, 3, 1, 8, 6]
a.sort()
print(a)

[1, 3, 5, 6, 8, 9]

In [123]:
a = ['sato', 'suzuki', 'takahashi']
a.reverse()
print(a)

['takahashi', 'suzuki', 'sato']

In [124]:
a = [8, 5, 3, 1, 9, 6]
a= sorted(a, reverse=True)
print(a)

[9, 8, 6, 5, 3, 1]

In [128]:
a = [8, 5, 3, 1, 9, 6]
print(max(a))
print(min(a))

9
1

In [131]:
a = [8, 5, 3, 1, 9, 6]
print(a.index(max(a)))

4

In [137]:
a = ['sato', 'suzuki', 'takahashi']
print(len(a))

3

## タプル

In [138]:
a = ('sato', 'suzuki', 'takahashi')
print(a)

('sato', 'suzuki', 'takahashi')

In [140]:
a = ('sato', 'suzuki', 'takahashi')
print(a[0])
print(a[1])
print(a[2])

sato
suzuki
takahashi

In [143]:
a = ('sato', 'suzuki', 'takahashi')
print(a[1:3])

('suzuki', 'takahashi')

In [148]:
a = ('sato', 'suzuki', 'takahashi')
print(a[::2])

('sato', 'takahashi')

In [149]:
a = (('sato', 'suzuki'), ('takahashi', 'tanaka'))
print(a[0][0])
print(a[0][1])
print(a[1][0])
print(a[1][1])

sato
suzuki
takahashi
tanaka

In [150]:
a = ('sato', 'suzuki', 'takahashi')
print(a + ('tanaka', 'sato'))

('sato', 'suzuki', 'takahashi', 'tanaka', 'sato')

In [153]:
a = ('sato', 'suzuki', 'takahashi')
a = a * 2
print(a)

('sato', 'suzuki', 'takahashi', 'sato', 'suzuki', 'takahashi')

In [154]:
a = ('sato', 'suzuki', 'takahashi')
print(a.index('sato'))

0

In [155]:
a = ('sato', 'suzuki', 'takahashi', 'sato')
print(a.count('sato'))

2

In [156]:
a = ('sato', 'suzuki', 'takahashi')
print('sato' in a)
print('tanaka' in a)

True
False

In [164]:
a = (2349, 2244, 2017, 2163, 2504, 2058)
a = sorted(a)
a = tuple(a)
print(a)

(2017, 2058, 2163, 2244, 2349, 2504)

In [165]:
a = (2349, 2244, 2017, 2163, 2504, 2058)
a = sorted(a, reverse=True)
a = tuple(a)
print(a)

(2504, 2349, 2244, 2163, 2058, 2017)

In [168]:
a = (2349, 2244, 2017, 2163, 2504, 2058)
print(max(a))
print(min(a))

2504
2017

## 辞書

In [187]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print(d)

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}

In [188]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print(type(d))

<class 'dict'>

In [ ]:
d = dict(リンゴ=10, オレンジ=20, バナナ=30)
print(d)
print(type(d))

In [ ]:
d = dict([['リンゴ', 10], ['オレンジ', 20], ['バナナ', 30]])
print(d)
print(type(d))

In [190]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d['リンゴ'] = 40
print(d)

{'リンゴ': 40, 'オレンジ': 20, 'バナナ': 30}

In [192]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print(d.keys())

dict_keys(['リンゴ', 'オレンジ', 'バナナ'])

In [193]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print(d.values())

dict_values([10, 20, 30])

In [194]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print(d['リンゴ'])

10

In [196]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d['バナナ'] = 100
print(d)

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 100}

In [199]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d['スイカ'] = 40
print(d)

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30, 'スイカ': 40}

In [200]:
d1 = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d2 = {'スイカ': 40, 'メロン': 50}
d1.update(d2)
print(d1)

{'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30, 'スイカ': 40, 'メロン': 50}

In [201]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
del d['バナナ']
print(d)

{'リンゴ': 10, 'オレンジ': 20}

In [205]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
del d['リンゴ'], d['バナナ']
print(d)

{'オレンジ': 20}

In [206]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d.pop('バナナ')

30

In [207]:
print(d)

{'リンゴ': 10, 'オレンジ': 20}

In [210]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
d.clear()
print(d)

{}

In [211]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
print('リンゴ' in d)

True

In [213]:
d = {'リンゴ': 10, 'オレンジ': 20, 'バナナ': 30}
x = 'リンゴ'
print(x in d)

True

## 集合

In [214]:
s = {0, 2, 1, 1, 2, 3, 1}
print(s)

{0, 1, 2, 3}

In [215]:
s = {0, 2, 1, 1, 2, 3, 1}
print(type(s))

<class 'set'>

In [216]:
s = {123, 1.23, (1, 2, 3), 123, 1.23}
print(s)

{1.23, 123, (1, 2, 3)}

In [217]:
a = set([0, 2, 1, 1, 2, 3, 1])
print(a)

{0, 1, 2, 3}

In [220]:
s1 = set()
print(type(s1))

<class 'set'>

In [221]:
s = {0, 1, 2}
s.add(3)
print(s)

{0, 1, 2, 3}

In [223]:
s = {0, 1, 2}
s.remove(1)
print(s)

{0, 2}

In [224]:
s = {0, 1, 2}
s.clear()
print(s)

set()

In [225]:
a = [0, 2, 1, 1, 2, 3, 1]
s = frozenset(a)
print(s)

frozenset({0, 1, 2, 3})

In [226]:
s1 = {0, 1, 2}
s2 = {1, 2, 3}
print(s1 | s2)

{0, 1, 2, 3}

In [227]:
s1 = {0, 1, 2}
s2 = {1, 2, 3}
s3 = {2, 3, 4}
print(s1 & s2 & s3)

{2}

In [229]:
s1 = {0, 1, 2}
s2 = {1, 2, 3}
print(s1 - s2)

{0}

In [230]:
# 2つの集合の対称差集合
s1 = {0, 1, 2}
s2 = {1, 2, 3}
print(s1 ^ s2)

{0, 3}

In [231]:
s1 = {0, 1, 2}
s2 = {0, 1, 2, 3, 4}
print(s1 <= s2)

True

In [233]:
s1 = {0, 1, 2}
s2 = {0, 1, 2, 3, 4}
s3 = {2, 1, 0}
print(s1 == s2)
print(s1 == s3)

False
True

In [234]:
# 真部分集合
s1 = {0, 1, 2}
s2 = {0, 1, 2, 3, 4}
s3 = {2, 1, 0}
print(s1 < s2)
print(s1 < s3)

True
False

In [235]:
# 集合Aと集合Bが互いに素かどうか確認（集合Aの要素と集合Bの要素が一つも一致しない)
s1 = {0, 1, 2}
s2 = {3, 4, 5}
s3 = {2, 3, 4}
print(s1.isdisjoint(s2))
print(s1.isdisjoint(s3))

True
False

In [236]:
s = {1, 2, 3, 4, 5}
print(1 in s)
print(0 in s)

True
False

In [237]:
s = {4, 3, 2, 1}
for i in s:
    print(i)

1
2
3
4

In [239]:
s = {1, 2, 3, 4}
l = list(s)
print(l[0])

1

## 演算子

In [245]:
x, y = 10, 2
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

12
8
20
5.0
0

In [246]:
x, y = 10, 2
print(x > y)

True

In [247]:
x, y = 10, 2
print(x < y)

False

In [249]:
x, y, z = 10, 2, 10
print(x <= y)
print(x >= z)

False
True

In [250]:
x, y = 10, 2
print(x == y)

False

In [252]:
x, y = 8, 3
print(5 <= x <= 10)
print(5 <= y <= 10)

True
False

In [253]:
x, y = 8, 3
print(x == 3 or y == 3)
print(x == 1 or y == 1)

True
False

In [254]:
x, y, z = 8, 12, 20
x += 10
z += y
print(f'x：{x}')
print(f'z：{z}')

x：18
z：32

In [255]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3, 4, 5]
l3 = l1
print(l1 == l2)
print(l1 == l3)
print(id(l1))
print(id(l2))
print(id(l3))

True
True
1638601448896
1638601456384
1638601448896

In [257]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3, 4, 5]
l3 = l1
print(l1 is l2)
print(l1 is l3)
print(id(l1))
print(id(l2))
print(id(l3))

False
True
1638601450688
1638601636416
1638601450688

In [263]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3, 4, 5]
l3 = l1
print(l1, id(l1))
l1.append(6)
print(l1, id(l1))
print(l2)
print(l3)

[1, 2, 3, 4, 5] 1638600899136
[1, 2, 3, 4, 5, 6] 1638600899136
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [265]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3, 4, 5]
l3 = l1
print(l1 is not l2)
print(l1 is not l3)

True
False

In [266]:
l = ['Yamada', 'Sato', 'Takahashi']
print('Yamada' in l)
print('Suzuki' in l)

True
False

In [267]:
l = ['Yamada', 'Sato', 'Takahashi']
print('Yamada' not in l)
print('Suzuki' not in l)

False
True

In [270]:
# 2進数を10進数に
print(0b10)
print(0b100)
print(0b1010)

2
4
10

In [273]:
# 10進数を2進数に変換
print(bin(2))
print(bin(8))
print(bin(10))

0b10
0b1000
0b1010

## 条件分岐

In [275]:
age = 22
if age >= 20:
    print('adult')

adult

In [279]:
# 変数ageの値が20以上の場合は'adult'、それ以外の場合は'child'と表示する条件分岐を記述
age = 18
print ('adult' if age >= 20 else 'child')

child

In [280]:
age = 22
print ('adult' if age >= 20 else 'child')

adult

In [281]:
age = 0
if age >= 20:
    print('adult')
elif age == 0:
    print('baby')
else:
    print('child')

baby

In [282]:
number = 24
if number % 2 == 0 and number % 3 == 0:
    print('6の倍数です')
elif number % 2 == 0 and number % 3 != 0:
    print('2の倍数です')
elif number % 2 != 0 and number % 3 ==0:
    print('3の倍数です')
else:
    print('2と3の倍数ではありません')

6の倍数です

In [284]:
fruit = 'orange'
if fruit == 'apple':
    print('りんご')
elif fruit == 'orange':
    print('みかん')
elif fruit == 'grape':
    print('ぶどう')
elif fruit == 'peach':
    print('もも')
else:
    print('その他の果物')

みかん

In [285]:
age = 18
print ('adult' if age >= 20 else 'child')

child

## 繰り返し

In [287]:
nums = [0, 1, 2, 3, 4]
for i in nums:
    print(i)

0
1
2
3
4

In [288]:
for i in range(5):
    print(i)

0
1
2
3
4

In [289]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [290]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [291]:
for i in range(3):
    for j in range(3):
        print(f'{i}-{j}')

0-0
0-1
0-2
1-0
1-1
1-2
2-0
2-1
2-2

In [292]:

prefectures = ['Tokyo', 'Osaka', 'Nagoya']
for i in prefectures:
    print(i)

Tokyo
Osaka
Nagoya

In [298]:
arr = [2, 4, 6, 8, 10]
total_sum = 0
for i in arr:
    total_sum += i
print(total_sum)

30

In [1]:
num = 0
while num < 5:
    print(num)
    num += 1

0
1
2
3
4

In [3]:
num = 1
while num < 100:
    print(num)
    num = num *2
print("Finish")

1
2
4
8
16
32
64
Finish

In [4]:
num = 200
while True:
    print(num)
    num = num * 2
    if num > 100:
        break
print("Finish")

200
Finish

## 文字列

In [6]:
a = 'abcde'
b = "あいうえお"
str = '12345'
print(a, type(a))
print(b, type(b))
print(str, type(str))

abcde <class 'str'>
あいうえお <class 'str'>
12345 <class 'str'>

In [9]:
a = 'abcde'
b = "あいうえお"
str = '12345'
print(a[:1])
print(b[:1])
print(str[:1])

a
あ
1

In [10]:
print('aaa' + 'bbb')

aaabbb

In [11]:
string = 'abc'
result = string * 5
print(result)

abcabcabcabcabc

In [15]:
s = ["a", "b", "c"]
x = "-".join(s)
print(x)

a-b-c

In [17]:
print("123"+"456")

123456

In [19]:
x = "I study Python"
print(x.split())

['I', 'study', 'Python']

In [20]:
x = "I-study-Python"
print(x.split('-'))

['I', 'study', 'Python']

In [22]:
x = "I study Python"
print('s' in x)

True

In [24]:
x = "I study Python"
print('study' in x)
print('python' in x)

True
False

In [26]:
x = "I study Python"
print(x.find('s'))

2

In [27]:
x = "I study Python"
print(x.find('study'))
print(x.find('python'))

2
-1

In [31]:
x = "I study Python"
x = x.replace('Python', 'ruby')
print(x)

I study ruby

In [33]:
x = "I study Python"
print(x.replace(' ', ''))

IstudyPython

In [34]:
x = 3
print(f'1 + 2 = {x}')

1 + 2 = 3

In [35]:
x, y = 1, 2
print(f'{x} + {y} = 3')

1 + 2 = 3

In [36]:
x, y = 1, 2
print(f'{y} + {x} = 3')

2 + 1 = 3

In [41]:
x, y = 1, 2
print(f'{x} ÷ {y} = {x / y}')

1 ÷ 2 = 0.5

In [40]:
x, y = 1, 2

print(f"{x} ÷ {y} = {x / y}")

1 ÷ 2 = 0.5

## 例外処理

In [42]:
a, b = 2, 0
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")

Start!!
0除算エラーです

In [43]:
a, b = 2, 1
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")

Start!!
2.0

In [45]:
a, b = 2, 0
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")
else:
    print("エラーは発生しませんでした")

Start!!
0除算エラーです

In [46]:
a, b = 2, 1
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")
else:
    print("エラーは発生しませんでした")

Start!!
2.0
エラーは発生しませんでした

In [47]:
a, b = 2, 0
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")
else:
    print("エラーは発生しませんでした")
finally:
    print("Finish!!")

Start!!
0除算エラーです
Finish!!

In [48]:
a, b = 2, 1
try:
    print("Start!!")
    print(a/b)
except:
    print("0除算エラーです")
else:
    print("エラーは発生しませんでした")
finally:
    print("Finish!!")

Start!!
2.0
エラーは発生しませんでした
Finish!!

In [50]:
a, b = 2, "2"
try:
    print("Start!!")
    print(a/b)
except ZeroDivisionError:
    print("0除算エラーです")
except TypeError:
    print("データ型エラーです")

Start!!
データ型エラーです

In [51]:
a, b = 2, 0
try:
    print("Start!!")
    print(a / b)
except Exception as e:
    print(e)
finally:
    print("Finish!!")

Start!!
division by zero
Finish!!

## 内包表記

In [58]:
# リスト・辞書などの簡潔な記述方法
l1 = []
for i in range(5):
    l1.append(i)

l2 = [i for i in range(5)] # 簡単に記載する場合
print(l1)
print(l2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [61]:
list = [i / 2 for i in range(5)]
print(list)

[0.0, 0.5, 1.0, 1.5, 2.0]

In [64]:
# 0から4の集合
s = {i for i in range(5)}
print(s)

{0, 1, 2, 3, 4}

In [65]:
s = {i / 2 for i in range(5)}
print(s)

{0.0, 0.5, 2.0, 1.0, 1.5}

In [67]:
d = {i: i * 2 for i in range(5)}
print(d)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [80]:
even_numbers = [num for num in range(10) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [86]:
""" 
辞書内包表記を使って、0から9までの整数をキーとする辞書を作成。
キーが偶数の場合には"even"、偶数ではない場合には"odd"という文字列を辞書のバリューとする。
"""

d = {num: "even" if num % 2 == 0 else "odd" for num in range(10)}
print(d)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [90]:
l1 = []
for i in (10, 100, 1000):
    for j in (1, 2, 3):
        l1.append(i + j)
print(l1)

# 一行にすると見づらい？
l1 = [i + j for i in (10, 100, 1000) for j in (1, 2, 3)]

[11, 12, 13, 101, 102, 103, 1001, 1002, 1003]

## 関数

In [92]:
def say_hello():
    print('Hello World')

say_hello()

Hello World

In [98]:
def say_hello(greeting):
    print(greeting)

say_hello('Hello world')
hello = say_hello
hello('Good morning')

Hello world
Good morning

In [99]:
def add(x, y):
    print(x + y)

num1, num2 = 6, 2
add(num1, num2)

8

In [100]:
def add(x, y):
    return x + y

num1, num2 = 6, 2
result = add(num1, num2)
print(result)

8

In [108]:
import sys

def div(x, y, z):
    return (x + y + z) / 3

div_result = div(9, 4, 2)
print(div_result)

5.0

In [109]:
""""
関数名をshow_number、引数名は第一引数をa、第二引数をbとして関数を作成します。
デフォルトの値として、aに1を、bに2を渡します。
"""

def show_number(num1=1, num2=2):
    print(num1)
    print(num2)

show_number()

1
2

In [110]:
def show_number(num1=1, num2=2):
    print(num1)
    print(num2)

show_number(3, 4)

3
4

In [112]:
# キーワード引数
def show_number(num1, num2, num3):
    print(num1)
    print(num2)
    print(num3)

show_number(num1=1, num2=10, num3=100)

1
10
100

In [119]:
# 可変長位置引数
def show_number(num1, num2, *args):
    print(num1)
    print(num2)
    print(args)

show_number(1, 2, 3, 4, 5)

1
2
(3, 4, 5)

In [120]:
def show_number(num1, num2, *args):
    print(num1)
    print(num2)
    print(*args)

show_number(1, 2, 3, 4, 5)

1
2
3 4 5

In [121]:
def show_number(num1, num2, *args):
    print(num1)
    print(num2)
    for i in args:
        print(i)

show_number(1, 2, 3, 4, 5)

1
2
3
4
5

In [131]:

# def show_number(num1, num2, num3):
#     d = {"a":num1, "b":num2, "c":num2}
#     print(d)

# 仮引数名の前に**(アスタリスク2つ)を付けると複数のキーワード引数を辞書として受け取れる。
def show_number(**kwargs):
    print(kwargs)

show_number(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [133]:
def show_number(**kwargs):
    print(kwargs)

d = {'a': 1, 'b': 2, 'c': 3}
show_number(**d)

{'a': 1, 'b': 2, 'c': 3}

In [137]:
def outer_func(a, b):
    def inner_func(c, d):
        return c-d

    x = inner_func(2, 1)
    y = inner_func(a, b)
    print(x)
    print(y)

outer_func(3, 1)

1
2

In [139]:
def circle_area(pi, radius):
    return pi * radius * radius

area = circle_area
print(area)

<function circle_area at 0x000001B57B676A70>

In [142]:
def circle_area(pi, radius):
    return pi * radius * radius

area = circle_area
print(area(3.14, 2))

12.56

In [153]:
def circle_area(pi):
    def calculation(radius):
        return pi * radius * radius
    return calculation

area1 = circle_area(3.14)
area2 = circle_area(3)

print(area1(2))
print(area2(2))

12.56
12

In [157]:
def add(a, b):
    return a +b

print("Start!!")
print(add(1, 2))
print("Finish!!")

print("Start!!")
print(add(3, 4))
print("Finish!!")

Start!!
3
Finish!!
Start!!
7
Finish!!

In [161]:
# クロージャー

def info(func):
    def wapper(a, b):
        print("Start!!")
        func(a, b)
        print("Finish!!")
    return wapper

def add(a, b):
    print(a + b)

add_result = info(add)

add_result(1, 2)
add_result(3, 4)

Start!!
3
Finish!!
Start!!
7
Finish!!

In [174]:
def info(func):
    def wapper(*args, **kwargs):
        print("Start!!")
        func(*args, **kwargs)
        print("Finish!!")
    return wapper

@info
def add(a, b):
    print(a + b)

@info
def add2(c, d, e):
    print(c + d + e)

add(1, 2)
add2(3, 4, 5)

Start!!
3
Finish!!
Start!!
12
Finish!!

## モジュール、パッケージ、ライブラリ

In [178]:
import datetime
a = datetime.MINYEAR
print(a)

1

In [181]:
import datetime
a = datetime.date(2023, 1, 1)
print(a)

2023-01-01

In [182]:
from datetime import date
a = date(2023, 1, 1)
print(a)

2023-01-01

In [184]:
from datetime import date as d
a = d(2023, 1, 1)
print(a)

2023-01-01

In [185]:
from urllib import parse
a = parse.uses_relative
print(a)

['', 'ftp', 'http', 'gopher', 'nntp', 'imap', 'wais', 'file', 'https', 'shttp', 'mms', 'prospero', 'rtsp', 'rtspu', 'sftp', 'svn', 'svn+ssh', 'ws', 'wss']

In [186]:
from urllib.parse import uses_relative
a = uses_relative
print(a)

['', 'ftp', 'http', 'gopher', 'nntp', 'imap', 'wais', 'file', 'https', 'shttp', 'mms', 'prospero', 'rtsp', 'rtspu', 'sftp', 'svn', 'svn+ssh', 'ws', 'wss']

## 名前空間とスコープ

In [ ]:
a = 1
def func():
    b = 2

print(globals())

In [191]:
a = 1
def func():
    b = 2
    print(a)

print(a)
func()

1
1

In [ ]:
a = 1
def func():
    b = 2
    print(a)

print(globals())

In [195]:
a = 0
def func():
    a = 1
    print(a)

func()
print(a)

1
0

In [ ]:
a = 0
def func():
    a = 1
    print(locals())

func()
print(locals())

In [1]:
a = 0
def func1():
    a = 1

    def func2():
        a = 2
        print(a)

    func2()
    print(a)

func1()
print(a)

2
1
0

In [2]:
a = 0
def func1():
    a = 1

    def func2():
        global a
        a = 2
        print(a)
    func2()
    print(a)

func1()
print(a)

2
1
2

In [4]:
a = 0
def func1():
    a = 1

    def func2():
        nonlocal a
        a = 2
        print(a)
    func2()
    print(a)

func1()
print(a)

2
2
0

In [5]:
a = 0
def func1():
    global a
    a  = 1

    def func2():
        a = 2
        print(a)

    func2()
    print(a)

func1()
print(a)

2
1
1

## 組み込み関数

In [6]:
print("Python", "Ruby", "PHP")
print("Java")

Python Ruby PHP
Java

In [8]:
print("Python", "Ruby", "PHP", sep="-")
print("Java")

Python-Ruby-PHP
Java

In [9]:
print("Python", "Ruby", "PHP", sep="-", end="-")
print("Java")

Python-Ruby-PHP-Java

In [14]:
print(type('Hello'))
print(type(10))
print(type([1,2,3]))
print(type({'Python': 1, 'Ruby': 2, 'PHP': 3}))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>

In [15]:
print(type("Hello") is str)
print(type("Hello") is int)

True
False

In [16]:
a = '10.0'
print(float(a))
print(type(float(a)))

10.0
<class 'float'>

In [20]:
print(10 /3)
print(0.1 * 2 == 0.2)
print(0.1 * 3 == 0.3)
print(0.1 * 2)
print(0.1 * 3)

3.3333333333333335
True
False
0.2
0.30000000000000004

In [22]:
print(round(1.234, 2))

1.23

In [28]:
# 1.5、2.5、2.501を整数に丸めて表示
print(round(1.5))
print(round(2.5))
print(round(2.501))

2
2
3

In [31]:
print(round(1234.56, -2))

1200.0

In [33]:
print(bool(2 > 1))
print(bool(True))
print(bool(1))
print(bool('Hello'))
print(bool([1, 2, 3]))

True
True
True
True
True

In [34]:
print(bool(1 > 2))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(''))
print(bool([]))

False
False
False
False
False
False

In [35]:
# 要素数
print(len('Hello'))

5

In [41]:
print(len([1, 2, 3, 4]))
print(len([1, 2, 3, 4, 5]))
print(len({'Python': 1, 'Ruby': 2, 'PHP': 3}))

4
5
3

In [42]:
x = [1, 2, 3, 4]
print(sum(x))

10

In [45]:
x = [1, 2, 3, 4]
print(sum(x, 100))

110

In [47]:
x = [1, 2, 3, 4, 5]
print(max(x))

5

In [48]:
li = ['Python', 'JavaScript', 'PHP']
print(max(li))

Python

In [53]:
li = ['Python', 'JavaScript', 'PHP']
print(max(li, key=len))

JavaScript

In [54]:
d = {'a': 3, 'b': 2, 'c': 1}
print(max(d))

c

In [57]:
d = {'a': 3, 'b': 2, 'c': 1}
print(max(d.values()))

3

In [58]:
li = [1, 2, 3, 4, 5]
print(min(li))

1

In [59]:
li = ['Python', 'JavaScript', 'PHP']
print(min(li))

JavaScript

In [60]:
li = ['Python', 'JavaScript', 'PHP']
print(min(li, key=len))

PHP

In [62]:
print(range(0, 5))
print(type(range(0, 5)))

range(0, 5)
<class 'range'>

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [69]:
for i  in range(5, 10, 2):
    print(i)

5
7
9

In [74]:
name = ["Python", "Ruby", "PHP"]
number = [10, 100, 1000]
print(zip(name, number))
print(type(zip(name, number)))

<zip object at 0x00000201B16D7000>
<class 'zip'>

In [79]:
name = ["Python", "Ruby", "PHP"]
number = [10, 100, 1000]

for i in zip(name, number):
    print(i)

('Python', 10)
('Ruby', 100)
('PHP', 1000)

In [80]:
name = ["Python", "Ruby", "PHP"]
number = [10, 100, 1000]

for i, j in zip(name, number):
    print(i)
    print(j)

Python
10
Ruby
100
PHP
1000

In [82]:
name = ["Python", "Ruby", "PHP"]

print(enumerate(name))
print(type(enumerate(name)))

<enumerate object at 0x00000201B0B5C940>
<class 'enumerate'>

In [85]:
name = ["Python", "Ruby", "PHP"]
for i in enumerate(name):
    print(i)

(0, 'Python')
(1, 'Ruby')
(2, 'PHP')

In [86]:
name = ["Python", "Ruby", "PHP"]
for i, j in enumerate(name):
    print(i)
    print(j)

0
Python
1
Ruby
2
PHP

## クラス応用

In [94]:
class Student:

    def __init__(self, name):
        self.name = name
    
    def __del__(self):
        print('DELETE!!')

person = Student('Yamada')
print(person.name)
del person
print('---------')

Yamada
DELETE!!
---------

In [95]:
class Student:

    def __init__(self, name):
        self.name = name
    
    def __del__(self):
        print('DELETE!!')

person = Student('Yamada')
person2 = person 
del person
print('---------')

---------

In [103]:
class Student:

    def math(self, score):
        print(score)

class Grade1:

    def math(self, score):
        print(score)

    def english(self, score):
        print(score)

studentA = Student()
studentB = Grade1()
studentA.math(50)
studentB.math(60)
studentB.english(70)

50
60
70

In [104]:
class Student:

    def math(self, score):
        print(score)

class Grade1(Student):

    def english(self, score):
        print(score)

studentA = Student()
studentB = Grade1()
studentA.math(50)
studentB.math(60)
studentB.english(70)

50
60
70

In [110]:
class Student:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def math(self, score):
        print(score)

class Grade1(Student):

    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Name:{studentB.name}")
        print(f" Age:{studentB.age}")


    def english(self, score):
        print(score)

studentA = Student('Yamada', 15)
studentB = Grade1('Sato', 12)

Name:Sato
 Age:12

In [113]:
class Student:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def math(self, score):
        print(score)

class Grade1(Student):

    def __init__(self, name, age):
        super().__init__(name, age)
        print(f"Name:{self.name}")
        print(f" Age:{self.age}")


    def english(self, score):
        print(score)

studentA = Student('Yamada', 15)
studentB = Grade1('Sato', 12)

Name:Sato
 Age:12

In [119]:
class Student:

    job = 'junior high school student'

    def __init__(self, name, age):
        self.name = name
        self.age = age

studentA = Student('Yamada', 15)
print(studentA.job)
print(studentA.name)
print(studentA.age)

studentB = Student('Sato', 12)
print(studentB.job)
print(studentB.name)
print(studentB.age)

junior high school student
Yamada
15
junior high school student
Sato
12

In [129]:
class Student:

    job = 'junior high school student'
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

    # @classmethod
    # def job(cls):
    #     return cls.job

    # @classmethod
    # def age(cls):
    #     return cls.age

print(Student.job)
print(Student.age)

junior high school student
13

In [132]:
class Student:

    job = 'junior high school student'
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def add_age(cls):
        return cls.age + 1

print(Student.add_age())

14

In [134]:
class Student:

    job = 'junior high school student'
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def add_age(cls):
        return cls.age + 1

studentA = Student('Yamada', 15)
print(studentA.add_age())

14

In [135]:
class Student:

    job = 'junior high school student'
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

    @staticmethod
    def greeting():
        print("Hello")

Student.greeting()

Hello

In [138]:
class Student:

    job = 'junior high school student'
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

    @staticmethod
    def greeting():
        print("Hello")
        print(f"I am {Student.age}")

Student.greeting()

Hello
I am 13

In [142]:
class Student:

    job = "junior high school student"
    age = 13

    def __init__(self, name, age):
        self.name = name
        self.age = age

def greeting():
    print("hello")
    print(f"I am {Student.age}")

greeting()

hello
I am 13